<app-navbar style="z-index: 100; position: fixed;"></app-navbar>
<div *ngIf="currentQuestion && currentQuestion.type == 'Theory'" class="container">
    
    <div class="borderAroundPage col-12 row">
        <div class="col-4">
            <div class="quizBox">
                <div class="quizQuestionTitle" style="color:#e79215 ; font-weight: bolder; font-size:2.5vh">
                    {{currentQuestion.question}}
                </div>
                <div class="quizQuestion2">
                    <h1>{{currentQuestion.option1}}</h1>
                </div>
                <div class="quizQuestion2">
                    <h1>{{currentQuestion.option2}}</h1>
                </div>
                <div class="quizQuestion2">
                    <h1>{{currentQuestion.option3}}</h1>
                </div>
                <div class="quizQuestion2" style="padding-bottom:1vh;">
                    <h1>{{currentQuestion.option4}}</h1>
                </div>
                <div class="gridCenter" style="margin-top:8vh;">
                    <button id="nextButton" (click)="onNextButtonClicked()" mat-raised-button><h1 class="buttonFormat gridCenter">Next ➤</h1></button>
                </div>
                
            </div>
        </div>
        
        <div class="col-8 row">
            <div class="col-1"> </div>
            <div class="textBox col-11" style="position: relative; display: grid; align-items: center; justify-content: center;">
                <h1>{{currentQuestion.text}}</h1>
            </div>

            <div class="imageBox col-11" style="position: relative; display: grid; align-items: top; justify-content: center;max-width: 100%; height: 100%;">
                <img style="overflow: hidden;object-fit:cover;  position: relative; max-height: 55vh; min-height: 55vh;" src="../../assets/images/quiz/{{currentQuestion.imageSource}}" alt="">
            </div>
        </div>
    </div>

    <div style="position: fixed; background-color: #e79215; height: 5vh; top:95vh" class="col-12 row">

    </div>

</div>