<app-navbar style="z-index: 100; position: fixed;"></app-navbar>
    <div class="container ">
    
    <div style=" margin-top:4vh" class="col-12 row">

        <div class="col-12 row" style="height: 43vh; margin-bottom: 30px;">
            
            <div class="frostedGlassDiv row">
                <div class="col-12 row">
                    <div class="col-sm-12 col-md-7 col-lg-7 col-xl-4 " style=" height: 7.2vh !important; background-color: #6868682d; border-end-end-radius: 80px;vertical-align: -webkit-baseline-middle; " >
                            <div class="col-auto" style="padding-left:10px; display: inline-block; position: relative; margin-top:0.5vh; " >
                                <img width="60vw" height="60vw" src="../../assets/images/profile/{{user.imageURL}}"/>
                            </div>
                            <div class="col-auto" style="display: inline-block; position: relative; margin-top:0.5vh; vertical-align: -webkit-baseline-middle; margin-left: 2vw;">
                                <h1 style="color:white; white-space: nowrap;">{{user.firstName}} {{user.secondName}}</h1>
                            </div>
                    </div>
                </div>
                <div class="col-sm-10 col-md-8 col-lg-6 col-xl-6" style="text-align: -webkit-center; background-color: #6868682d; border-top-right-radius: 80px;">
                    <div style="margin-top:6vh">
                        <h2 style="color: #E79215;">{{user.level}} <mat-icon *ngIf="user.level == 'Beginner'">star_border</mat-icon><mat-icon *ngIf="user.level == 'Intermediate'">star_half</mat-icon><mat-icon *ngIf="user.level == 'Expert'">star</mat-icon></h2>
                        <h2 style="color:white">Current Section : {{user.section}}</h2>
                        <h2 style="color:white">Current Stage : {{user.sectionStage}}/{{quizCount}}</h2>
                    </div>
                </div>
            </div>
        </div>


        <div class="row" style="height: 43vh; margin-bottom: 5vh;">
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3" routerLink="/quiz" style="margin-bottom: 5vh; padding:2px">
                    <mat-card class=" col-12 backgroundGlass" style="height: 39vh; text-align: -webkit-center; margin:0px; padding:0px">
                        <img style="margin-top: 10px; height: 30.5vh;" src="../../assets/icons/next2.png"/>
                        <div *ngIf="user.stage == 1" class="col-12 backgroundGlassInside textBox">
                            Start Learning
                        </div>
                        <div *ngIf="user.stage != 1" class="col-12 backgroundGlassInside textBox">
                            Continue Learning
                        </div>
                        
                    </mat-card>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3" routerLink="/question" style="margin-bottom: 5vh;padding:2px">
                    <mat-card class=" col-12 backgroundGlass" style="height: 39vh; text-align: -webkit-center; margin:0px; padding:0px">
                        <img style="margin-top: 10px; height: 30.5vh;" src="../../assets/icons/random2.png"/>
                        <div class="col-12 backgroundGlassInside textBox">
                            Random Question
                        </div>
                        
                    </mat-card>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3" routerLink="/theory" style="margin-bottom: 5vh;padding:2px">
                    <mat-card class=" col-12 backgroundGlass" style="height: 39vh; text-align: -webkit-center; margin:0px; padding:0px">
                        <img  style="margin-top: 10px; height: 30.5vh;" src="../../assets/icons/book2.png"/>
                        <div class="col-12 backgroundGlassInside textBox" >
                            Theory Only
                        </div>
                        
                    </mat-card>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3" routerLink="/statistics" style="margin-bottom: 5vh;padding:2px">
                    <mat-card class=" col-12 backgroundGlass" style="height: 39vh; text-align: -webkit-center; margin:0px; padding:0px">
                        <img style="margin-top: 10px; height: 30.5vh;" src="../../assets/icons/stats2.png"/>
                        <div class="col-12 backgroundGlassInside textBox">
                            Statistics
                        </div>
                        
                    </mat-card>
                </div>
        

        </div>


        
        
    </div>

    

    
    
</div>
