<app-navbar style="z-index: 100; position: fixed;"></app-navbar>

<div class="container">

    <div class="col-12 row" style="height: 29vh;margin: 0px;">
        <div class="col-6 gridAllignCenter world" style="background-color: #ff7f00d4;font-size: 4.5vh;">
            What does GLIAcademy stand for?
        </div>
        <div class="col-6 gridAllignCenter text1" style="background-color: #fc296f;text-align: -webkit-center; font-size: 4.5vh;">
            What is GLIAcademy?
        </div>
    </div>

    <div class="col-12 row" style="height: 37vh;margin: 0px;">
        <div class="col-4 gridAllignCenter text2" style="background-color: rgb(59, 165, 82);text-align: -webkit-center; font-size: 4.5vh;">
            Community interaction
        </div>
        <div class="col-4 gridAllignCenter text3" style="background-color: #49dde7;text-align: -webkit-center; font-size: 4.5vh;">
             How can I learn?
        </div>
        <div class="col-4 gridAllignCenter text4" style="background-color: #5900ff;text-align: -webkit-center; font-size: 4.5vh;">
            Target Audience
        </div>
    </div>

    <div class="col-12 row" style="height: 29vh;margin: 0px;">
        <div class="col-6 gridAllignCenter text5" style="background-color: #9913f2;font-size: 4.5vh;">
            How do I start with GLIAcademy?
        </div>
        <div class="col-6 gridAllignCenter contact" style="background-color: #138df2;font-size: 10vh;">
        </div>
    </div>

    

    <!-- <div class="col-12 row">

        <div class="col-6 gridAllignCenter">
            <h1 class="gridAllignCenter" style="margin-bottom: 3vh;margin-top: 3vh;text-align: center;">About Us</h1>
            <div class="col-12 row gridAllignCenter" style="background-color:#E79215;  border-radius: 20px; padding:2vh; width:35vw; box-shadow: 0px 0px 10px 5px rgba(8, 8, 8, 0.255);">
                <h4 style="margin-bottom: 5vh; margin-top: 5vh;    text-align: -webkit-center;">GLIAcademy is an educational platform that allows users to learn about the best globalisation, localisation and internationalisation practices</h4>
                <h4 style="margin-bottom: 5vh; text-align: -webkit-center;">GLIAcademy also allows interaction between community members which can expand the knowledge about various topics</h4>
                <h4 style="    text-align: -webkit-center;">After creating an account the user is able to navigate through the platform and explore and learn in the following ways:</h4>
                <div class="gridAllignCenter" style="margin-top: 1vh;">
                    <ul>
                        <li>Theory based questions</li>
                        <li>Quizzes based on the theory learned</li>
                        <li>Simple programming tasks</li>
                      </ul>
                </div>
                
            </div>
        </div>

        <div class="col-6 gridAllignCenter">
            <h1 class="gridAllignCenter" style="margin-bottom: 3vh;margin-top: 3vh;text-align: center;">Contact Us</h1>
            <div class="col-12 row gridAllignCenter" style="background-color:#E79215;  border-radius: 20px; padding:2vh; width:35vw; box-shadow: 0px 0px 10px 5px rgba(8, 8, 8, 0.255);">
                <h4>test</h4>
            </div>
        </div>

    </div> -->
    
</div>