<mat-toolbar style="background-color: #b1b1b12d; padding-left: 0px !important;position: fixed;z-index: 1; height: 100px; -webkit-backdrop-filter: blur(8px);  /* Safari 9+ */backdrop-filter: blur(8px);box-shadow: 0px 10px 15px 10px rgb(0 0 0 / 15%);" class="mat-elevation-z2">
	<!-- <mat-icon style="margin-left: 15px;" routerLink="/home">home</mat-icon> -->
	<nav style="width: 2%;">

	</nav>
	<nav style="width: 98%;">
		<a mat-button routerLink="/home">Home</a>
		<a mat-button routerLink="/home">Profile</a>
		
	</nav>

	<mat-icon routerLink="/profile" style="font-size: 30px;">account_box</mat-icon>
	
	<mat-icon routerLink="/profile" style="font-size: 30px; margin-left: 30px;margin-right: 50px;">logout</mat-icon>

	

</mat-toolbar>
<div class="app-content">
	<router-outlet></router-outlet>
</div>
