<mat-toolbar style="background-color: #3a3a3ad9; padding-left: 0px !important;position: fixed;z-index: 1; height: 5vh; -webkit-backdrop-filter: blur(8px);  /* Safari 9+ */backdrop-filter: blur(8px);box-shadow: 0px 10px 15px 10px rgb(0 0 0 / 15%);" class="mat-elevation-z2">
	<!-- <mat-icon style="margin-left: 15px;" routerLink="/home">home</mat-icon> -->
	<nav style="width: 2%;">
		<!-- #3a3a3ad9; -->

	</nav>
	<img src="../../../assets/images/logo.png" alt="GLI Academy" style="display: inline; position: relative; height: 5vh;">

	<nav style="width: 98%;">
		<a mat-button routerLink="/home" style="margin-left: 100px; ">Home</a>
		<a style="margin-left: 50px; border-right: 1px rgb(124, 124, 124) solid"></a>
		<a mat-button routerLink="/statistics" style="margin-left: 50px; ">Statistics</a>
		<a style="margin-left: 50px; border-right: 1px rgb(124, 124, 124) solid"></a>
		<a mat-button routerLink="/theory" style="margin-left: 50px; ">Theory</a>
	</nav>

	

	<mat-icon routerLink="/profile" style="font-size: 30px;">account_box</mat-icon>
	
	<mat-icon routerLink="/profile" style="font-size: 30px; margin-left: 30px;margin-right: 50px;">logout</mat-icon>

	

</mat-toolbar>
<div class="app-content">
	<router-outlet></router-outlet>
</div>
