<mat-toolbar style="background-color: #3a3a3ad9; padding-left: 0px !important;position: fixed;z-index: 1; height: 5vh;box-shadow: 0px 10px 15px 10px rgb(0 0 0 / 15%);" class="mat-elevation-z2">
	
	<nav style="width: 2%;">

	</nav>
	<img routerLink="/home" src="../../../assets/images/transparent.png" alt="GLI Academy" style="display: inline; position: relative; height: 4.5vh; cursor: pointer;">

	<nav style="width: 98%;">
		<a mat-button routerLink="/home" style="margin-left: 100px; ">Home</a>
		<a style="margin-left: 50px; border-right: 1px rgb(124, 124, 124) solid"></a>
		<a mat-button routerLink="/about" style="margin-left: 50px; ">About</a>
		<a style="margin-left: 50px; border-right: 1px rgb(124, 124, 124) solid"></a>
		<a mat-button routerLink="/contactus" style="margin-left: 50px; ">Contact Us</a>
	</nav>

	

	<mat-icon class="smallIconNav" routerLink="/profile" style="font-size: 30px;">account_box</mat-icon>
	
	<mat-icon class="smallIconNav" routerLink="/login" style="font-size: 30px; margin-left: 30px;margin-right: 50px;">logout</mat-icon>


	<div *ngIf="!chat" class="chatDiv" attr.value="{{appServices.messageNotification}}" >
        
		<img class="chatIcon"  (click)="chatPopup()"  src="../../../assets/icons/chat.png" > 
  
  	</div>

	<chat *ngIf="chat"></chat>
  
	

</mat-toolbar>
<div class="app-content">
	<router-outlet></router-outlet>
</div>
