
.container{
    // background-image:url("https://bestanimations.com/media/cars/248454601luxury-car-animated-gif-4.gif");
    // background-image:url("https://www.kayak.co.uk/news/wp-content/uploads/sites/5/2017/09/car-hire-02.gif");

    
    background-size: 100% 100vh;   

}


.center {
    margin: auto;
    text-align: center;
  }

  .border{
    border: 3px solid white;
    padding: 10px;
  }

  .btn {
    width: 10vw;
    height: 60px;
    cursor: pointer;
    background: transparent;
    border: 1px solid white;
    outline: none;
    transition: 0.1s;
    color:white
  }
  