

<app-navbar style="z-index: 100; position: fixed;"></app-navbar>

<popup *ngIf="popup"></popup>

<div class="container gridAllignCenter">
    
    <div>
        
        <div class="col-12 row" style="background-color:#E79215;  border-radius: 20px; padding:2vh; width:30vw; box-shadow: 0px 0px 10px 5px rgba(8, 8, 8, 0.255);">
            <h1 class="gridAllignCenter" style="margin-bottom: 3vh;text-align: center;">Edit Your Profile</h1>

            <div class="col-12 gridAllignCenter" style="margin-bottom: 7vh;" >
                <img class="changeImage" (click)="changeImage()" width="144" height="144"src="../../assets/images/profile/{{user.imageURL}}" #tooltip="matTooltip" matTooltip="Click to choose your profile image" matTooltipPosition="above" /> 
            </div>
            <!-- <div class="col-12 gridAllignCenter" style="margin-bottom: 5vh;" >
                <button class="btn" (click)="changeImage()" mat-raised-button>Edit Profile Picture</button>
            </div> -->
            
            <form [formGroup]="form" class="gridAllignCenter">

                <div class="col-12" style="margin-bottom: 1vh;">
                    <label class="col-12">Email: </label>
                    <input formControlName="email" class="col-12 disable-select" style="user-select: none;" type="text">
                </div>

                <div class="col-12" style="margin-bottom: 1vh;">
                    <label class="col-12">Name: </label>
                    <input class="col-12" formControlName="firstName" type="text">
                </div>

                <div class="col-12" style="margin-bottom: 1vh;">
                    <label class="col-12">Surname: </label>
                    <input class="col-12" formControlName="secondName" type="text">
                </div>

                <div class="col-12" style="margin-bottom: 5vh;">
                    <label class="col-12">Username: </label>
                    <input class="col-12" formControlName="username" type="text">
                </div>

            </form>
            <div class="col-12 gridAllignCenter" style="margin-bottom: 10vh;">
                <button class="btn2" mat-raised-button>Update</button>
            </div>
        </div>
    </div>

</div>