<app-navbar style="z-index: 100; position: fixed;"></app-navbar>
    <div class="container ">
    
    <div style="margin:0px; padding: 0px; margin-top:120px" class="col-12 row">
        <div class="col-12" style="height: 400px;margin:0px; padding: 0px; margin-bottom: 30px;">
            <div class="frostedGlassDiv col-12 row" style="height: 400px;  border-radius: 10px; margin:0px; padding: 0px; background-color: #3a3a3ad9;;">
                <div class="col-4" style="text-align: -webkit-center; border-radius: 10px;" >
                    <img height="330px" width="330px" style="margin-top: 10px;" src="../../assets/images/profile.png"/>
                    <h1 style="color:white">James Rain</h1>
                </div>
                <div class="col-8" style="text-align: -webkit-center; margin-top: 130px; ">
                    <h1 style="color: orange">Intermediate <mat-icon>star_half</mat-icon></h1>
                    <h1 style="color:white">Current Section : Languages</h1>
                    <h1 style="color:white">Current Stage : 2/27</h1>
                </div>
            </div>
        </div>


        <div class="col-12" style="height: 400px; margin-bottom: 30px;">
            <div class="col-12 row" style="height: 400px; margin-left: 1px;">
                <div class="col-3" style="margin-bottom: 30px;">
                    <mat-card class=" col-12 backgroundGlass" style="height: 360px; text-align: -webkit-center; margin:0px; padding:0px">
                        <img height="280px" width="280px" style="margin-top: 10px;" src="../../assets/icons/next2.png"/>
                        <div class="col-12" style="background-color: #3a3a3ad9; ; margin-top:5px">
                            <h2 style="color:white ;">Continue Learning</h2>
                        </div>
                        
                    </mat-card>
                </div>

                <div class="col-3" style="margin-bottom: 30px;">
                    <mat-card class=" col-12 backgroundGlass" style="height: 360px; text-align: -webkit-center; margin:0px; padding:0px">
                        <img height="280px" width="280px" style="margin-top: 10px;" src="../../assets/icons/random2.png"/>
                        <div class="col-12" style="background-color: #3a3a3ad9; ; margin-top:5px;">
                            <h2 style="color:#ffffff">Random Question</h2>
                        </div>
                        
                    </mat-card>
                </div>

                <div class="col-3" style="margin-bottom: 30px;">
                    <mat-card class=" col-12 backgroundGlass" style="height: 360px; text-align: -webkit-center; margin:0px; padding:0px">
                        <img height="280px" width="280px" style="margin-top: 10px;" src="../../assets/icons/book2.png"/>
                        <div class="col-12" style="background-color: #3a3a3ad9; ; margin-top:5px">
                            <h2 style="color:#ffffff">Theory Only</h2>
                        </div>
                        
                    </mat-card>
                </div>

                <div class="col-3" style="margin-bottom: 30px;">
                    <mat-card class=" col-12 backgroundGlass" style="height: 360px; text-align: -webkit-center; margin:0px; padding:0px">
                        <img height="280px" width="280px" style="margin-top: 10px;" src="../../assets/icons/stats2.png"/>
                        <div class="col-12" style="background-color: #3a3a3ad9; ; margin-top:5px">
                            <h2 style="color:#ffffff">Statistics</h2>
                        </div>
                        
                    </mat-card>
                </div>
        

            </div>
        </div>




        

        
        
    </div>

    

    
    
</div>
