<app-navbar style="z-index: 100; position: fixed;"></app-navbar>
<!-- <div class="container " style="height: 100vh !important; margin: 0; height: calc(100% - 100px); "> -->
    <div class="container ">
    
    <div style="margin-top:120px" class="col-12 row">
        <mat-card class="col-12" style="height: 400px; margin-bottom: 30px;">
            <mat-card class="frostedGlassDiv col-12" style="height: 400px; ">

            </mat-card>
        </mat-card>

        <mat-card class="col-3" style="height: 400px; margin-bottom: 30px;">
            <mat-card class="frostedGlassDiv col-12" style="height: 400px;">

            </mat-card>
        </mat-card>

        <mat-card class="col-3" style="height: 400px; margin-bottom: 30px;">
            <mat-card class="frostedGlassDiv col-12" style="height: 400px;">

            </mat-card>
        </mat-card>

        <mat-card class="col-3" style="height: 400px; margin-bottom: 30px;">
            <mat-card class="frostedGlassDiv col-12" style="height: 400px;">

            </mat-card>
        </mat-card>

        <mat-card class="col-3" style="height: 400px; margin-bottom: 30px;">
            <mat-card class="frostedGlassDiv col-12" style="height: 400px;">

            </mat-card>
        </mat-card>
        
    </div>

    

    
    
</div>
