<app-navbar style="z-index: 100; position: fixed;"></app-navbar>

<div class="container gridAllignCenter">

    <div class="col-12 row" style="background-color:#E79215;  border-radius: 20px; padding:2vh; width:50vw; box-shadow: 0px 0px 10px 5px rgba(8, 8, 8, 0.255);">
        <h1 class="gridAllignCenter" style="margin-bottom: 3vh;text-align: center; font-size: 55px;">Statistics</h1>
        <div class="col-6 row">
            <h1 class="gridAllignCenter" style="margin-bottom: 3vh;text-align: center;">Stage Progress</h1>
            <div class="col-6 gridAllignRight">
                <h3>Tutorial</h3>
            </div>
            <div class="col-6 gridAllignLeft">
                <h3 style="font-size: bold;">[3/3]</h3>
            </div>

            <div class="col-6 gridAllignRight">
                <h3>Basics</h3>
            </div>
            <div class="col-6 gridAllignLeft">
                <h3 style="font-size: bold;">[3/3]</h3>
            </div>

            <div class="col-6 gridAllignRight">
                <h3>Website</h3>
            </div>
            <div class="col-6 gridAllignLeft">
                <h3 style="font-size: bold;">[3/4]</h3>
            </div>
            
        </div>
        <div class="col-6">
            <h1 class="gridAllignCenter" style="margin-bottom: 3vh;text-align: center;">Performance</h1>
            <div class="col-12 gridAllignCenter" style="margin-bottom: 1.5vh;">
                <h3>Total Answered : 10</h3>
            </div>
            <div class="col-12 gridAllignCenter"  style="margin-bottom: 1.5vh;">
                <h3>Answered Correct : 5</h3>
            </div>
            <div class="col-12 gridAllignCenter"  style="margin-bottom: 1.5vh;">
                <h3>Answered Incorrect : 5</h3>
            </div>
            <div class="col-12 gridAllignCenter"  style="margin-bottom: 1.5vh;">
                <h3>Success Percent : 50%</h3>
            </div>
    </div>
    
</div>