
.container{
    background: url("../../assets/images/login.svg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

input{
  color: #FFF;
}

textarea:focus, input:focus {
  color: #FFF;
}

input, select, textarea{
  color: #FFF !important;
}

input, select, textarea{
  color: #FFF;
}


input {
  color: -internal-light-dark(white, white) !important;
  background: #ffffff00 !important;
  border-color: rgba(133, 133, 133, 0) !important;
}

.center {
    margin: auto;
    text-align: center;
  }

  .border{
    border: 3px solid white;
    padding: 10px;
  }

  .mat-divider {
    border-top-color: #E79215CC !important;
}
  
  .inputBox{
    padding: 5px; 
    background: #ffffff1c !important; 
    border-radius: 5px; 
    border-color: #00000000;
    padding-bottom: 18px;
    border: 1px solid rgba(255, 255, 255, 0);
  }
  
  body {
    background: #1a1e23;
    margin: 0;
  }

  
mat-button-toggle-group {
  box-shadow: none;
}

mat-button-toggle {
  background: #96969610 !important;
    margin-top: 5px !important;
    padding: 0 5px !important;
    z-index: 3 !important;
    border: 0px solid rgba(255, 255, 255, 0.486);
    transition: 0.32s;
}

mat-button-toggle:hover {
  background: #ffffff1c !important;
  border: 0px solid rgba(255, 255, 255, 0.486);
}

.mat-button-toggle-checked {
    border: 0px #000 solid !important;
    border-radius: 5px !important;
    background: #ffffff1c !important;
    border: 0px solid rgba(255, 255, 255, 0.486);
}

.mat-button-toggle-input {
  background: #ffffff1c !important;
    padding-left: 32px !important;
    border: 0px solid rgba(255, 255, 255, 0.486);
}

.btn {
  width: 10vw;
  height: 60px;
  cursor: pointer;
  background: #ffffff1c !important;
  outline: none;
  transition: 0.32s;
  color: white;
}

.btn:disabled{
  width: 10vw;
  height: 60px;
  cursor: pointer;
  background: #0e0e0e1c !important;
  outline: none;
  transition: 0.32s;
  color: white;
}

.btn:hover{
  background: #ffffff1c !important;
  border: 1px solid #E79215;
  box-shadow: 0px 7px 7px 10px #E7921508;
}


.btn2 {
  width: 10vw;
  height: 60px;
  cursor: pointer;
  background: #ffffff1c !important;
  outline: none;
  color:white;
  transition: 0.32s;
}

.btn2:hover{
  background: #8a8a8a1c !important;
  box-shadow: 0px 7px 7px 10px rgba(194, 194, 194, 0.041);
}

::placeholder{
  color: grey;
}

div,h1,h2,h3,h4,h5,h6{
  color: white;
}